body {
    background-color: #ffed00;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 1170px;
    text-align: center;
    margin: 200px auto;
}

li {
    list-style-type: none;
}

.slideContsL {
    transition: all 1s;
    opacity: 0;
    transform: translateX(-80px);
}

.slideContsR {
    transition: all 1s;
    opacity: 0;
    transform: translateX(80px);
}

.slideContsRotate {
    transition: all 1s;
    transform: rotateY(90deg); 
}

.fadein {
    transform: translateX(0);
    opacity: 1;
}

/* ヘッダー ================================== */

nav {
    display: flex;
    font-size: 13px;
}

.nav-list {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 300px;
}

.header-logo {
    margin-top: 40px;
    margin-left: 300px;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

/* メイン ========================================= */

.logo-img img {
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

main {
    position: relative;
}

main ul {
    position: fixed;
    z-index: 10;
    margin-left: 1400px;
}

main svg {
    fill: transparent;
    stroke: black;
    height: 50px;
}

main svg:hover {
    fill: black;
}

/* サービス ======================================== */

.service {
    margin-top: 200px;
    text-align: left;
    padding-left: 100px;
}

.service-heading {
    font-size: 80px;
    font-weight: 100;
}

.servicebox {
    width: 250px;
    margin-right: 100px;
    display: inline-block;
    height: 700px;
    overflow: hidden;
}

.servicebox h2 {
    font-weight: 200;
    font-size: 30px;
    padding-bottom: 30px;
}

.servicebox-img {
    border-bottom: 4px solid black;
    padding: 20px 0;
}

.servicebox-img img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.team {
    text-align: left;
    margin-top: 100px;
    margin-right: 40px;
}

.team-contents {
    position: relative;
}

.team-contents img {
    width: 960px;
    height: 510px;
}

.team-contents h2 {
    position: absolute;
    top: 410px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.team-contents a {
    position: absolute;
    top: 430px;
    left: 400px;
    padding: 10px 40px;
    border: 4px solid black;
}

.team-contents a:hover {
    opacity: 0.7;
}

/* 会社 ===================================================== */

.company {
    text-align: left;
    margin: 150px 90px;
}

.company-heading {
    font-size: 80px;
    font-weight: 100;
}

.companybox {
    display: flex;
    margin-bottom: 50px;
}

.companybox img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.companybox h2 {
    padding-top: 100px;
    font-weight: 500;
    font-size: 30px;
    margin-left: 100px;
}

.companybox p {
    padding-top: 105px;
    font-size: 25px;
    font-weight: 200;
    margin-left: 150px;
    position: relative;
}

.companybox .para::before {
    content: '';
    position: absolute;
    top: 120px;
    left: -80px;
    background-color: black;
    height: 2px;
    width: 20px;
}

.companybox .value {
    padding-top: 0px;
}

.companybox .value-heading {
    padding-top: 0px;
}

.companybox .value::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -80px;
    background-color: black;
    height: 2px;
    width: 20px;
}

.company a {
    padding: 10px 40px;
    border: 4px solid black;
    margin-left: 400px;
}

.company a:hover {
    opacity: 0.7;
}

/* リクルート =================================== */

.recruit {
    text-align: left;
    padding-left: 130px;
    padding-right: 0;
}

.recruit-heading {
    font-size: 80px;
    font-weight: 100;
}

.recruit p{
    width: 250px;
    font-size: 20px;
    margin-right: 120px;
}

.recruit-contents {
    display: flex;
}

.form {
    width: 570px;
    padding-top: 30px;
}

.recruit-email {
    width: 550px;
    height: 25px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.recruit-email:hover {
    background-color: #ffe140;
}

#text {
    width: 550px;
    border: 3px solid black;
    resize: none;
}

#text:hover {
    background-color: #ffe140;
}

.form-submit {
    margin-left: 500px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.contact-heading {
    font-size: 80px;
    font-weight: 100;
    margin-top: 200px;
}

/* フッダー =================================== */

footer {
    display: flex;
    margin-left: 400px;
}

.footerimg {
    width: 150px;
    margin-right: 70px;
}

.footerimg img {
    width: 150px;
    height: 150px;
}

.footerbox {
    border-top: 4px solid black;
    width: 200px;
    padding: 20px 0;
    margin-right: 70px;
}

.footer-list {
    padding: 0;
}

.footer-list li {
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-list a:hover {
    opacity: 0.8
}

.footer-bottom {
    background-color: black;
    height: 50px;
    margin: 0;
}

/* メッセージ ==================================================== */

.message {
    text-align: left;
    padding-left: 130px;
    padding-right: 0;
}

.message-heading {
    font-size: 80px;
    font-weight: 100;
}

.message-contents {
    display: flex;
}

.message-img {
    border-radius: 50%;
    background-color: white;
    width: 400px;
    height: 380px;
    margin: 0;
    position: relative;
}

.message-img img {
    width: 450px;
    height: 390px;
    position: absolute;
    top: 0px;
    left: -30px;
}

.message-para {
    margin-left: 70px;
    font-size: 14px;
    padding-top: 30px;
}

.message-bottom {
    margin-top: 50px;
    margin-left: 300px;
}

/* アウトライン =============================================== */

.outline {
    text-align: left;
    padding-left: 130px;
    padding-right: 0;
    margin-top: 150px;
}

.outline p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.outline-heading {
    font-size: 80px;
    font-weight: 100;
}

.para-right {
    margin-left: auto;
    padding-right: 50px;
}

.outlinebox {
    display: flex;
    margin-left: 150px;
    border-bottom: 3px solid black;
}

